<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/styles.css" rel="stylesheet">
 	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>PostList</title>
</head>
<body>
	<div th:replace="fragments/navbar"></div>

	<h1 class="centre-text">Blog Posts</h1>
	
	<div class="card centre-text spacing mx-auto mb-3" style="width: 36rem;" th:each="post : ${posts}" th:object="${user}">
	
				<div class="mb-2" th:text="| Post id: ${post.id} - Username: ${user.email}"></div>
					
				<div th:text="|${post.blogPost}"></div>			
	</div>
	
	<div th:replace="fragments/footer"></div>
</body>
</html>